---
import Title from "./title.astro";
import ProgressiveImage from "../../components/ProgressiveImage.astro";
import { Image } from "astro:assets";

const fotos = [
  {
    src: "/src/assets/images/arbre_2.webp",
    height: 570,
    width: 600,
    alt: "Foto 1",
  },
  {
    src: "/src/assets/images/conjunt_3.webp",
    alt: "Foto 2",
    height: 700,
    width: 600,
  },
  {
    src: "/src/assets/images/arbre_1.webp",
    alt: "Foto 3",
    height: 750,
    width: 300,
  },
  {
    src: "/src/assets/images/conjunt_2.webp",
    alt: "Foto 1",
    height: 850,
    width: 600,
  },
  {
    src: "/src/assets/images/arbre_3.webp",
    alt: "Foto 3",
    height: 600,
    width: 300,
  },

  {
    src: "/src/assets/images/espelma_1.webp",
    alt: "Foto 2",
    height: 450,
    width: 600,
  },
];
---

<section class="min-h-screen flex flex-col gap-20 overflow-x-hidden">
  <header class="p-8 pt-[18vh] flex flex-col gap-8">
    <Title />
    <p class="xl:text-xl">No se qué posar aquí, yu després em dius</p>
  </header>

  <ul class="flex gap-4 items-center w-screen justify-center overflow-hidden">
    {
      fotos.map((foto) => (
        <li>
          <Image
            src={foto.src}
            alt={foto.alt}
            width={foto.width}
            style={`height: ${foto.height}px; width: ${foto.width}px;`}
            height={foto.height}
            data-index={fotos.indexOf(foto)}
            class="w-full bg-image h-full min-w-60 md:min-w-[500px] bg-neutral-200 object-cover object-center flex-1"
          />
        </li>
      ))
    }
  </ul>
</section>
