---
export interface Producto {
  nombre: string;
  description: string;
  image: string;
}

export interface Props {
  producto: Producto;
  index: number;
  inverted?: boolean;
}

const { producto, index, inverted } = Astro.props as Props;
import { Image } from "astro:assets";
---

<li
  class="flex w-full h-full gap-8 items-center max-md:flex-col-reverse"
  class:list={[
    {
      "flex-row-reverse": inverted,
    },
  ]}
>
  <div class="p-4 flex flex-col gap-2 justify-center h-full md:w-1/3 w-full">
    <h3 class="text-2xl md:text-7xl font-semibold">{producto.nombre}</h3>
    <p class="text-sm md:text-lg text-foreground/70">{producto.description}</p>
  </div>

  <div class="md:w-2/3 w-full relative overflow-hidden h-screen">
    <div class="w-full h-full relative">
      <Image
        width={600}
        height={800}
        data-index={index}
        src={producto.image}
        alt={producto.nombre}
        class="product-image w-full h-full object-cover absolute inset-0"
      />
    </div>
  </div>
</li>

<script>
  import { gsap } from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const onReady = () => {
    const nodes = document.querySelectorAll(".product-image");

    nodes.forEach((node) => {
      gsap.fromTo(
        node,
        { scale: 1.2, height: "5%" },
        {
          scale: 1,
          height: "100%",
          ease: "none",
          scrollTrigger: {
            trigger: node,
            start: "top bottom",
            end: "bottom top",
            scrub: true,
          },
        },
      );
    });
  };

  if (document.readyState === "complete") onReady();
  else window.addEventListener("load", onReady);
</script>
